/*************************** ANIMATIONS ******************************/
/******************************* BOUNCE ******************************/
@-webkit-keyframes bounce {
  0%,20%,55%,80%,to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%,45% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes bounce {
  0%,20%,55%,80%,to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%,45% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.bounce {
  animation: bounce 1s ease alternate; }

/********************************* FLASH *********************************/
@-webkit-keyframes flash {
  0%, 60%, to {
    opacity: 1; }
  40%, 100% {
    opacity: 0; } }
@keyframes flash {
  0%, 60%, to {
    opacity: 1; }
  40%, 100% {
    opacity: 0; } }
.flash {
  animation: flash 0.9s ease alternate; }

/********************************* PULSE ******************************/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  40% {
    -webkit-transform: scale(1.08); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); } }
.pulse {
  animation: pulse 0.9s ease alternate; }

/***************************** RUBBERBAND *******************************/
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75); }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25); }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes rubberBand {
  0% {
    transform: scale(1); }
  30% {
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    transform: scale(1); } }
.rubberBand {
  animation: rubberBand 0.9s ease alternate; }

/***************************** BOOTY SHAKE *******************************/
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-20px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(20px); } }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-20px); }
  20%, 40%, 60%, 80% {
    transform: translateX(20px); } }
.shake {
  animation: shake 0.9s ease alternate; }

/****************************** SWING **********************************/
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(25deg); }
  40% {
    -webkit-transform: rotate(-20deg); }
  60% {
    -webkit-transform: rotate(15deg); }
  80% {
    -webkit-transform: rotate(-15deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@keyframes swing {
  20% {
    transform: rotate(25deg); }
  40% {
    transform: rotate(-20deg); }
  60% {
    transform: rotate(15deg); }
  80% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }
.swing {
  animation: swing 1s ease alternate; }

/********************************** TADAAAA **************************/
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }
  20% {
    -webkit-transform: scale(1.08); }
  30% {
    -webkit-transform: rotate(5deg) scale(1.08); }
  40% {
    -webkit-transform: rotate(-5deg) scale(1.08); }
  60% {
    -webkit-transform: rotate(2deg) scale(1.08); }
  80% {
    -webkit-transform: rotate(-2deg) scale(1.08); }
  100% {
    -webkit-transform: rotate(0deg) scale(1); } }
@keyframes tada {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.08); }
  30% {
    transform: rotate(5deg) scale(1.08); }
  40% {
    transform: rotate(-5deg) scale(1.08); }
  60% {
    transform: rotate(2deg) scale(1.08); }
  80% {
    transform: rotate(-2deg) scale(1.08); }
  100% {
    transform: rotate(0deg) scale(1); } }
.tada {
  animation: tada 0.7s ease alternate; }

/******************************** WOBBLE *******************************/
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%); }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg); }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg); }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% {
    -webkit-transform: translateX(0%); } }
@keyframes wobble {
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-25%) rotate(-5deg); }
  30% {
    transform: translateX(20%) rotate(3deg); }
  45% {
    transform: translateX(-15%) rotate(-3deg); }
  60% {
    transform: translateX(10%) rotate(2deg); }
  75% {
    transform: translateX(-5%) rotate(-1deg); }
  100% {
    transform: translateX(0%); } }
.wobble {
  animation: wobble 1s ease alternate; }

/****************************** JELLO ************************************/
@-webkit-keyframes jello {
  10% {
    -webkit-transform: none; }
  20% {
    -webkit-transform: skewX(-14.5deg) skewY(-14.5deg); }
  30% {
    -webkit-transform: skewX(8.2deg) skewY(8.2deg); }
  45% {
    -webkit-transform: skewX(-5.1deg) skewY(-5.1deg); }
  55% {
    -webkit-transform: skewX(3.5deg) skewY(3.5deg); }
  65% {
    -webkit-transform: skewX(-0.7deg) skewY(-0.7deg); }
  80% {
    -webkit-transform: skewX(0.3deg) skewY(0.3deg); }
  90% {
    -webkit-transform: skewX(-0.1deg) skewY(-0.1deg); }
  100% {
    -webkit-transform: none; } }
@keyframes jello {
  10% {
    transform: none; }
  20% {
    transform: skewX(-14.5deg) skewY(-14.5deg); }
  30% {
    transform: skewX(8.2deg) skewY(8.2deg); }
  45% {
    transform: skewX(-5.1deg) skewY(-5.1deg); }
  55% {
    transform: skewX(3.5deg) skewY(3.5deg); }
  65% {
    transform: skewX(-0.7deg) skewY(-0.7deg); }
  80% {
    transform: skewX(0.3deg) skewY(0.3deg); }
  90% {
    transform: skewX(-0.1deg) skewY(-0.1deg); }
  100% {
    transform: none; } }
.jello {
  animation: jello 1.2s ease alternate; }

/******************************* BOUNCE IN *********************************/
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    webkit-transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1); }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.9); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }
.bounceIn {
  animation: bounceIn 0.05s ease alternate; }

/*************************** BOUNCE IN DOWN ********************************/
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    transform: translateY(30px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
.bounceInDown {
  animation: bounceInDown 1s ease alternate; }

/************************** BOUNCE IN LEFT ***********************************/
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }
  80% {
    -webkit-transform: translateX(-10px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }
.bounceInLeft {
  animation: bounceInLeft 1s ease alternate; }

/************************** BOUNCE IN RIGHT ***********************************/
/* Scroll Y chiant, voir avec le prof */
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }
  80% {
    -webkit-transform: translateX(-10px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }
.bounceInRight {
  animation: bounceInRight 1s ease alternate; }

/*************************** BOUNCE IN UP ********************************/
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px); }
  80% {
    -webkit-transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  60% {
    opacity: 1;
    transform: translateY(-30px); }
  80% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }
.bounceInUp {
  animation: bounceInUp 1s ease alternate; }

/********************************** BOUNCE OUT ****************************/
@-webkit-keyframes bounceOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.9); }
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate3d(0, 0, 0); } }
@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); }
  50% {
    opacity: 1;
    transform: scale(0.9); }
  80% {
    opacity: 0.9;
    transform: scale(1.1); }
  100% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); } }
.bounceOut {
  animation: bounceOut 1s ease alternate; }

/******************************** BOUNCE OUT DOWN ****************************/
@-webkit-keyframes bounceOutDown {
  20% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  40% {
    -webkit-transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(2000px); } }
@keyframes bounceOutDown {
  20% {
    opacity: 1;
    transform: translateY(30px); }
  40% {
    transform: translateY(-10px); }
  to {
    transform: translateY(2000px); } }
.bounceOutDown {
  animation: bounceOutDown 1s ease alternate; }

/******************************* BOUNCE OUT LEFT ****************************/
@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translateX(30px); }
  to {
    -webkit-transform: translateX(-2000px); } }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translateX(30px); }
  to {
    transform: translateX(-2000px); } }
.bounceOutLeft {
  animation: bounceOutLeft 1s ease alternate; }

/***************************** BOUNCE OUT RIGHT ****************************/
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translateX(-30px); }
  to {
    -webkit-transform: translateX(2000px); } }
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translateX(-30px); }
  to {
    transform: translateX(2000px); } }
.bounceOutRight {
  animation: bounceOutRight 1s ease alternate; }

/******************************* BOUNCE OUT UP ******************************/
@-webkit-keyframes bounceOutUp {
  20% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  40% {
    -webkit-transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(-2000px); } }
@keyframes bounceOutUp {
  20% {
    opacity: 1;
    transform: translateY(-30px); }
  40% {
    transform: translateY(10px); }
  to {
    transform: translateY(-2000px); } }
.bounceOutUp {
  animation: bounceOutUp 1s ease alternate; }

/******************************* FADE IN ************************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation: fadeIn 1s ease alternate; }

/********************************** FADE IN DOWN *****************************/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateY(0); } }
.fadeInDown {
  animation: fadeInDown 1s ease alternate; }

/******************************* FADE IN DOWN BIG ***************************/
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-800px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-800px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateY(0); } }
.fadeInDownBig {
  animation: fadeInDownBig 1s ease alternate; }

/****************************** FADE IN LEFT ********************************/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
.fadeInLeft {
  animation: fadeInLeft 1s ease alternate; }

/******************************** FADE IN LEFT BIG **************************/
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-800px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
.fadeInLeftBig {
  animation: fadeInLeftBig 1s ease alternate; }

/*************************** FADE IN RIGHT **********************************/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
.fadeInRight {
  animation: fadeInRight 1s ease alternate; }

/*************************** FADE IN RIGHT BIG ******************************/
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(800px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
.fadeInRightBig {
  animation: fadeInRightBig 1s ease alternate; }

/********************************** FADE IN UP *****************************/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateY(0); } }
.fadeInUp {
  animation: fadeInUp 1s ease alternate; }

/**************************** FADE IN UP BIG *********************************/
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(800px); }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(800px); }
  60% {
    opacity: 1; }
  100% {
    transform: translateY(0); } }
.fadeInUpBig {
  animation: fadeInUpBig 1s ease alternate; }

/******************************* FADE OUT ************************************/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  animation: fadeOut 1s ease alternate; }

/******************************* FADE OUT DOWN ************************************/
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(50px); } }
@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(50px); } }
.fadeOutDown {
  animation: fadeOutDown 1s ease alternate; }

/**************************** FADE OUT DOWN BIG ****************************/
@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(800px); } }
@keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(800px); } }
.fadeOutDownBig {
  animation: fadeOutDownBig 1s ease alternate; }

/******************************* FADE OUT LEFT ************************************/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(-50px); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(-50px); } }
.fadeOutLeft {
  animation: fadeOutLeft 1s ease alternate; }

/******************************* FADE OUT LEFT BIG ****************************/
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(-800px); } }
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(-800px); } }
.fadeOutLeftBig {
  animation: fadeOutLeftBig 1s ease alternate; }

/***************************** FADE OUT RIGHT *******************************/
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(50px); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(50px); } }
.fadeOutRight {
  animation: fadeOutRight 1s ease alternate; }

/************************* FADE OUT RIGHT BIG *******************************/
@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(800px); } }
@keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(800px); } }
.fadeOutRightBig {
  animation: fadeOutRightBig 1s ease alternate; }

/******************************* FADE OUT UP *********************************/
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50px); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(-50px); } }
.fadeOutUp {
  animation: fadeOutUp 1s ease alternate; }

/******************************* FADE OUT UP BIG *****************************/
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-500px); } }
@keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(-500px); } }
.fadeOutUpBig {
  animation: fadeOutUpBig 1s ease alternate; }

/***************************** FLIP *****************************************/
@-webkit-keyframes flip {
  20% {
    -webkit-transform: perspective(500px) rotateY(180deg); }
  to {
    -webkit-transform: rotateY(0deg); } }
@keyframes flip {
  20% {
    transform: perspective(500px) rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }
.flip {
  animation: flip 1.5s ease alternate;
  transform-style: preserve-3d; }

/****************************** FLIP IN X ************************************/
@-webkit-keyframes flipInX {
  20% {
    -webkit-transform: rotateX(180deg); }
  to {
    -webkit-transform: rotateX(0deg); } }
@keyframes flipInX {
  20% {
    transform: rotateX(180deg); }
  to {
    transform: rotateX(0deg); } }
.flipInX {
  animation: flipInX 1.5s ease alternate;
  transform-style: preserve-3d; }

/*# sourceMappingURL=animate.css.map */
